src/.vs/
src/webApiTrader/bin/
src/webApiTrader/obj/
src/AzureDevOps.Integration.Models/obj/project.assets.json
src/AzureDevOps.Integration.Models/obj/Debug/net5.0/AzureDevOps.Integration.Models.GeneratedMSBuildEditorConfig.editorconfig
src/AzureDevOps.Integration/obj/AzureDevOps.Integration.REST.csproj.nuget.dgspec.json
src/AzureDevOps.Integration.Models/obj/AzureDevOps.Integration.Models.csproj.nuget.g.targets
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.AssemblyInfo.cs
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.REST.assets.cache
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.REST.GeneratedMSBuildEditorConfig.editorconfig
src/AzureDevOps.Integration.Models/obj/project.nuget.cache
src/AzureDevOps.Integration.Models/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/AzureDevOps.Integration/obj/AzureDevOps.Integration.REST.csproj.nuget.g.targets
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.REST.AssemblyInfoInputs.cache
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.REST.csprojAssemblyReference.cache
src/AzureDevOps.Integration/obj/AzureDevOps.Integration.csproj.nuget.dgspec.json
src/AzureDevOps.Integration.Models/obj/AzureDevOps.Integration.Models.csproj.nuget.dgspec.json
src/AzureDevOps.Integration/obj/AzureDevOps.Integration.csproj.nuget.g.props
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.assets.cache
src/AzureDevOps.Integration/obj/project.nuget.cache
src/AzureDevOps.Integration.Models/obj/AzureDevOps.Integration.Models.csproj.nuget.g.props
src/AzureDevOps.Integration/obj/project.assets.json
src/AzureDevOps.Integration/obj/AzureDevOps.Integration.REST.csproj.nuget.g.props
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.AssemblyInfoInputs.cache
src/AzureDevOps.Integration/obj/AzureDevOps.Integration.csproj.nuget.g.targets
src/AzureDevOps.Integration/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/AzureDevOps.Integration.Models/obj/Debug/net5.0/AzureDevOps.Integration.Models.AssemblyInfo.cs
src/AzureDevOps.Integration/obj/Debug/net5.0/AzureDevOps.Integration.csprojAssemblyReference.cache
src/webApiTrader/.vs/
src/AzureDevOps.Integration.Models/obj/Debug/net5.0/AzureDevOps.Integration.Models.AssemblyInfoInputs.cache
src/AzureDevOps.Integration.Models/obj/
src/AzureDevOps.Integration/obj/
src/AzureDevOps.Integration/bin/
src/AzureDevOps.Integration.Models/bin/
src/ClientApiTest/bin/
src/ClientApiTest/obj/
